<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpaqueCamp.Launcher.Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OpaqueCamp.Launcher.Application.Properties.Settings>
            <setting name="JvmInitialMemoryAllocationMegabytes" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="JvmMaxMemoryAllocationMegabytes" serializeAs="String">
                <value>4096</value>
            </setting>
        </OpaqueCamp.Launcher.Application.Properties.Settings>
    </userSettings>
</configuration>